body {
    font-family: Helvetica, sans-serif;
}

header {
    color: #eee;
    background-color: #252525;
    text-align: center;
    padding: 10px;
}

h3 {
    width: 100%;
    margin-left: 10px;
}

h4 {
    margin-right: 10px;
}

h5 {
    font-size: 1.0rem;
}

.container {
    width: 90%;
    margin-top: 10px;
    
}

.main {
    width: 95%;
}

.search {
    width: 245px;
    margin-right: 5px;
}

.btn {
    width: 50px;
    color: #eee;
}

.list-group {
    margin-top: 10px;
    width: 400px;
}

.current {
    margin-top: 15px;
    margin-left: 20px;
    width: 100%;
}

.forecast {
    width: 100%;
    margin-left: 5px;
    margin-top: 10px;
}

.day {
    width: 120px;
    margin: 20px 10px;
    padding: 0;
}

.day .card-body {
    padding: 10px;
}

.lowUV{
    background-color: green;
    color: white;
}

.moderateUV{
    background-color: yellow;
}

.highUV{
    background-color: orange;
}

.veryHighUV{
    background-color: red;
    color: white;
}

.lowUV, .moderateUV, .highUV, .veryHighUV {
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 1199px) {
    .search {
        width: 200px;
    }
}

@media (max-width: 991px) {
    .current {
        margin-left: 0;
    }
}

@media (max-width: 560px) {
    h4 {
        margin-right: 60px;
    }
}

@media (min-width: 300px) and (max-width: 1199px) {
    .day {
        width: 120px;
        flex: 0 0 120px; 
        max-width: 120px;
    }
}